.container {
    display: flex;
    flex-direction: row;
    flex-wrap : wrap;
    width : 100px;
}

.digitButton {
    width : 30px;
}

.operatorButton {
    width : 30px;
}

#inputField{
    width: 80px;
    text-align: right;
    
}
#stackTrace {
    text-align: right;
}